<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HOTEL SHUBHAKAMANA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="{% url 'home' %}">Hotel Shubhakamana</a></h1>
            <p class="tagline">Delicious Meal for Your Tastebuds</p>
        </div>
        <button class="menu-toggle">☰</button>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About the Hotel</a>
            <a href="{% url 'contact' %}">Contact the Hotel</a>
        </nav>
    </header>
    <div class="container">
        <div class="content-section">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
        <footer>
            <p>© 2025 My Blog. All rights reserved.</p>
            <p><a href="{% url 'contact' %}">Contact Me</a> | Follow me on <a href="https://x.com/MatthewLearner" target="_blank">X</a></p>
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
</body>
</html>